conda==4.10.3
conda-build==3.21.4
eagerpy==0.29.0
foolbox==3.3.1
h5py==3.1.0
jupyter==1.0.0
jupyter-resource-usage==0.6.0
keras==2.6.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
Markdown==3.3.4
numpy==1.19.5
opencv-python==4.5.2.54
pep8==1.7.1
pipreqs==0.4.11
scikit-image==0.18.1
sklearn==0.0
spacy==3.1.1
spacy-legacy==3.0.8
split-folders==0.4.3
statsmodels==0.12.2
tb-nightly==2.7.0a20211013
tensorflow==2.5.0
tensorflow-addons==0.13.0
tf-estimator-nightly==2.8.0.dev2021103108
